@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

/* ---- RESET ---- */
:root {
  font-family: 'Roboto Mono', monospace;
  --color-red: orange;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1, h2, h3, h4, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
  padding-left: 0;
}
img {
  width: 100%;
}
input{
  outline: none;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}